@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Simple Crud With NHibernet and FluentMapping</h1>
    <p>Learn about <br/> <a asp-action="Index" asp-controller="Client" class="btn btn-info">Manage Cliente</a></p>
</div>
